<section class="d-flex justify-content-center">
    <!--FOOTER-->
    <footer class="w-100">
      <div class="footer w-100">
        <div class="footer-content">
          <div class="section">
            <h3 style="font-weight: bolder">Funiro.</h3>
            <p>
              400 University Drive Suite <br />
              Coral Gables <br />
              FL 33134 USA
            </p>
          </div>
          <div class="section">
            <h3>LINKS</h3>
            <p><a href="home.html"> Home </a></p>
            <p><a href="#"> Shop </a></p>
            <p><a href="#"> About </a></p>
            <p><a href="#"> Contact </a></p>
          </div>
          <div class="section">
            <h3>HELP</h3>
            <p><a href="#">Payment Options</a></p>
            <p><a href="#">Returns</a></p>
            <p><a href="#">Privacy Policies</a></p>
          </div>
          <div class="section">
            <h3>SIGN UP</h3>
            <p>Receive exclusive email-only promotions and offers</p>
            <button class="button">SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </footer>
  </section>

  <section class="footer">
    <hr class="footer-hr" />
    <p style="text-align: center;" class="footer-text">2024 furino. All rights reserved</p>
  </section>
