

  <!-- Contact Header -->
<section id="contact" class="bgimage" id="home">
    <div class="container-fluid contact-h">
    <h1>Contact</h1>
  </div>
</section>
  <!-- Contact Section -->
  <div class="contact-sec container">
    <div class="row ">
      <!-- Contact Info -->
      <div class="col-md-12 contact-info1 ">
        <h2 >Get In Touch With Us</h2>
        <p>For More Information About Our Product & Services. Please Feel Free To Drop Us <br>An Email. Our Staff Always Be There To Help You Out. Do Not Hesitate!</p>
      </div>
    </div>
    <div class="row ">
       
      <div class="col-md-4 contact-info mr-auto">
        <p><i class="bi-geo-alt-fill"></i><strong> Address</strong><br>
        236 5th SE Avenue, New<BR> York NY10000, United States</p>

       <i class="fas fa-shield-alt"></i> 
        <p><i class="bi-telephone-fill"></i><strong> Phone</strong><br>
        Mobile: (+84) 546-6789<br>
        Hotline: (+84) 456-6789</p>

        <i class="fas fa-shield-alt"></i>
        <p><i class="bi-clock-fill"></i><strong> Working Time</strong><br>
        Monday-Friday: 9:00 - 22:00<br>
        Saturday-Sunday: 9:00 - 21:00</p>
      </div>

      <!-- Contact Form -->
      <div class="col-md-6 ml-auto">
        <form class="contact-form">
          <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control form-control-lg" id="name" placeholder="Abc" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control form-control-lg" id="email" placeholder="Abc@gmail.com" required>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control form-control-lg" id="subject" placeholder="This is optional">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control form-control-lg" id="message" rows="4" placeholder="Hi! I'd like to ask about" required></textarea>
          </div>
          <button type="submit"  class="btn btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>

     