/* body {
  font-family: Arial, sans-serif;
} */
.bgimage {
    height: 100vh;
    /* background: url(../img/Contact_Background.jpg); */
    background-size: cover;
    height: 300px;
  }
  .contact-h {
    /* background: url(../img/Rectangle.jpg); */
    background-size: cover;
    height: 300px;
    text-align: center;
    align-items: center;
  }
  .contact-h h1 {
    font-size: 50px;
    font-weight: bolder;
    padding: 105px;
  }
  
  .contact-sec {
    margin-top: 20px;
    padding: 30px;
  }
  .contact-info1 h2 {
    font-weight: bolder;
  }
  .contact-info1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .contact-info {
    padding: 20px;
  }
  .contact-info h3 {
    font-size: 22px;
    font-weight: bold;
  }
  .contact-info p {
    font-size: 18px;
    color: #555;
  }
  .contact-form label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .contact-form button {
    background-color: #c59630;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px 20px;
    width: 200px;
  }
  .features {
    background-color: rgb(241, 235, 160);
    padding: 30px 0;
    margin-top: 20px;
  }
  .feature-item h5 {
    font-weight: bolder;
  }
  .features .feature-item {
    font-size: 16px;
    color: #555;
  }
  .features .feature-item i {
    font-size: 24px;
    color: #d4a43c;
    margin-bottom: 10px;
  }
  