
    <div class="top">
      <img src="../assets/img/cart_img/top.png" alt="top" />
    </div>
    <div class="container">
  
      <section class="cart-section-outer">
        <div class="cart-section w-100">
          <div class="card p-5 w-100">
            <h2>Cart</h2>
            <div class="carte">
              <span>Total items: {{item_count}}</span>
              
               <p  (click)="onClickDel()" style="cursor: pointer;" >Clear Cart</p>
            </div>
            
            <hr class="cart" />
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let item of cart" class="text-center">
                  <td>{{item.item}}</td>
                  <td>{{item.price}}</td>
                  <td ><i class="fa-solid fa-circle-minus" (click)="decreaseQuantity(item.id)" style="color:#e6a400; border:none; cursor: pointer;"></i>{{item.quantity}} <i class="fa-solid fa-circle-plus" (click)="increaseQuantity(item.id)" style="color:#e6a400; border:none;cursor: pointer;"></i></td>
                  <td>{{item.price *item.quantity}}</td>
                  <td><i class="fa-solid fa-trash" style="cursor: pointer;" (click)="removeItem(item.id)"></i></td>
                </tr>
              </tbody>
              
            </table>
            <div *ngIf="cart.length == 0">
              <p style="text-align: center;">Cart is empty</p>
            </div>
          </div>

          <div class="cart-total">
            <h3>Cart Totals</h3>
            <p class="Subtotal">
              Subtotal: <span class="total-amount">₹{{total}}</span>
            </p>
            <p class="Subtotal">
              Tax: <span class="total-amount">₹{{0.15*total}}</span>
            </p>
            <p style="font-size: 1.2em; font-weight: bold">
              Total: <span class="total-amount">₹{{total * 1.15 | number:'1.2-2'}}</span>
            </p>
            <button class="checkout-btn" href="checkout">
              <a href="checkout"> Check Out</a>
            </button>
          </div>
        </div>
      </section>

      <section>
        <!-- Feature Section -->
        <div class="feature-wrapper">
          <div class="item">
            <img src="./assets/img/cart_img/trophy 1.png" alt="High Quality Icon" />
            <div>
              <h3>High Quality</h3>
              <p>crafted from top materials</p>
            </div>
          </div>
          <div class="item">
            <img src="./assets/img/cart_img/guarantee.png" alt="Warranty Icon" />
            <div>
              <h3>Warranty Protection</h3>
              <p>Over 2 years</p>
            </div>
          </div>
          <div class="item">
            <img src="./assets/img/cart_img/shipping.png" alt="Free Shipping Icon" />
            <div>
              <h3>Free Shipping</h3>
              <p>Order over $150</p>
            </div>
          </div>
          <div class="item">
            <img src="./assets/img/cart_img/customer-support.png" alt="Support Icon" />
            <div>
              <h3>24 / 7 Support</h3>
              <p>Dedicated support</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    
